body {
  margin: 0;
  background: rgba(0,0,0,0.8);
  color: #ffffff;
  font-family: 'Nunito', 'Century Gothic', sans-serif;
  text-align: center;
}

header {
  background: rgba(170, 170, 170, .75);
  border-bottom: 2px solid #9933ff;
}

h1 {
  font-family: 'Candal', 'Century Gothic', sans-serif;
  font-size: 3em;
  margin: 0 auto 15px;
}

#score-board {
  margin: auto;
  display: block;
  padding: 0;
}

.score {
  margin: auto;
  display: inline-block;
}

#game-count {
  margin: auto;
}

#game-score, #level-score {
  line-height: 3.6em;
  padding: 0 5%;
}

#game-score {
  float: left;
}

#level-score {
  float: right;
}

#level {
  font-size: 2.5em;
  margin: 0 15px auto;
}

#board {
  clear: both;
  border: 1px solid black;
  display: block;
  margin: 30px auto;
  background: white;
}

@media (max-width: 820px) {
  #score-board > * {
    display: block;
    float: none;
  }

  #level{
    font-size: 2em;
  }

  #level-score, #game-score {
    line-height: 1.5em;
    font-size: 15px;
  }

  h1 {
    font-size: 2.5em;
  }
}
